* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --animation-duration: .2s;
    --box-size: 2vw;
    --char-gap: 1vw;
    --box-gap: .25vw;
}

body {
    padding: 1rem;
}

header .chars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--char-gap);
}

header .char {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: var(--box-gap);
    width: calc(var(--box-size) * 3);
    height: calc(var(--box-size) * 5);
}

header .char .box {
    width: calc(var(--box-size) - var(--box-gap));
    height: calc(var(--box-size) - var(--box-gap));
}

header .char .box.marked {
    opacity: 0;
    background-color: black;
}

@media screen and (min-width: 800px) {
    :root {
        --box-size: 16px;
        --char-gap: 8px;
        --box-gap: 2px;
    }
}

@media screen and (max-width: 300px) {
    :root {
        --box-size: 6px;
        --char-gap: 3px;
        --box-gap: .75px;
    }
}