* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: 2vw;
    --cell-gap: .25vw;
    --cell-size-with-gap: calc(var(--cell-size) - var(--cell-gap));
    --char-gap: 1vw;
}

body {
    background-color: #ececec;
}

header {
    padding: 1vw;
}

.chars {
    display: flex;
    justify-content: center;
    gap: var(--char-gap);
}

.char {
    display: flex;
    flex-direction: column;
    gap: var(--cell-gap);
    width: calc(var(--cell-size) * 3);
    height: calc(var(--cell-size) * 5);
}

.char .row {
    display: flex;
    gap: var(--cell-gap);
}

.char .row .cell {
    width: var(--cell-size-with-gap); 
    height: var(--cell-size-with-gap);
}

.char .cell.marked {
    opacity: 0;
    transform: translate3D(0, -100%, 0);
    background-color: black;
}

/* Prevent a logo from going too big */
@media screen and (min-width: 600px) {
    :root {
        --cell-size: 1.5vw;
        --cell-gap: .20vw;
        --cell-size-with-gap: calc(var(--cell-size) - var(--cell-gap));
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --cell-size: 1vw;
        --cell-gap: .15vw;
        --cell-size-with-gap: calc(var(--cell-size) - var(--cell-gap));
    }
}
