* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cell-size: min(2vw, 2vh);
    --cell-gap: min(.25vw, .25vh);
    --cell-size-with-gap: calc(var(--cell-size) - var(--cell-gap));
    --char-gap: min(1vw, 1vh);
}

body {
    background-color: #ececec;
}

header {
    padding: 1rem;
}

.chars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--char-gap);
}

.char {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--cell-gap);
    width: calc(var(--cell-size) * 3);
    height: calc(var(--cell-size) * 5);
}

.char .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--cell-gap);
}

.char .row .cell {
    width: var(--cell-size-with-gap); 
    height: var(--cell-size-with-gap);
}

header .char .cell.marked {
    opacity: 0;
    translate: transform3D(0, -100%, 0);
    background-color: black;
}

/* Prevent a logo from going too big */
@media screen and (min-width: 600px) {
    :root {
        --cell-size: 12px;
        --cell-gap: 1.5px;
        --cell-size-with-gap: calc(var(--cell-size) - var(--cell-gap));
        --char-gap: 6px;
    }
}
